<<<<<<< HEAD
<ion-header></ion-header>

<ion-content padding>
	<ion-card (click)="beginGame()">

	  <!-- <img src="img/advance-card-bttf.png"> -->

	  <ion-card-content>
	  	<h1>Jogo Princípal</h1>
	    <p>Aqui você pode iniciar seu jogo através de 15 meses visando obter o melhor resultado através de investimentos.</p>
	  </ion-card-content>

	</ion-card>

	<ion-card (click)="learn()">
		<ion-card-content>
		  	<h1>Dicas</h1>
		    <p>Não sabe algum conceito do jogo? Quer explicação sobre algum termo utilizado? Consulte aqui e mate suas dúvidas.</p>
		</ion-card-content>
	</ion-card>

	<ion-card (click)="openLogin()">
		<ion-card-content>
		  	<h1>Opções que surgirem</h1>
		    <p>É só colocar aqui mesmo.</p>
		</ion-card-content>
	</ion-card>
=======
<!--
  Generated template for the MainGamePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>main-game</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
>>>>>>> 072002e6f17c41354cf46cb8a7f713bbe199f072

</ion-content>
