page-share-investments {

<<<<<<< HEAD
	ion-slide{
		background-color: white;
		overflow-y: auto !important;
	}

	ion-card-header{
		margin-top: 140px;
	}
	
	#stockSelect {
		height: auto;
	}

	#stockSelect2 {
		margin-top: 50px;
	}

=======
>>>>>>> 072002e6f17c41354cf46cb8a7f713bbe199f072
}
