<<<<<<< HEAD
<ion-header>	
</ion-header>


<!-- <ion-header  *ngIf="currentIndex">
	<ion-card-header>
		Lista de ações para aplicações
	</ion-card-header>
</ion-header> -->

<ion-content padding>
	<ion-slides>
	  	<ion-slide>
	  		<ion-card-header>
				Lista de ações para aplicações
			</ion-card-header>
	  		<ion-card>
	    		<ion-list id="stockSelect">
				    <button *ngFor="let acao of acoes" (click)="thisChoice(acao)" ion-item>
				     	<ion-icon></ion-icon> {{ acao.codigo }}
				    </button>
			  	</ion-list>
			</ion-card>
	  	</ion-slide>
	  	<ion-slide>
		    <ion-list id="stockSelect2">
		    	<h1> Quanto você quer investir na ação {{ codigo }} </h1>
		    	Custo da ação: {{ pontos }}
			  	<ion-item>
			   		<ion-range min="0" [(max)]="cotas" [(ngModel)]="singleValue" color="danger" pin="true"></ion-range>
			  	</ion-item>
			  	<p>Investimento necessário: $ {{ pontos * singleValue }}</p>
			  	<button *ngIf="pontos * singleValue <= dinheiro && singleValue != 0" ion-button class="btn" (click)="investStock(singleValue)">Investir</button>
			  	<div *ngIf="pontos * singleValue > dinheiro">Fundos insuficiente!</div>
			</ion-list>
	  	</ion-slide>
	  	<ion-slide>
		    <h1> Confirmado! </h1>
		    <ion-item>
			  	<ion-icon (click)="reInvest()" name="cash" item-start></ion-icon>
			    Realizar outro investimento
		  	</ion-item>
		  	<ion-item>
		    	<ion-icon (click)="mainGame()" name="arrow-dropright-circle" item-start></ion-icon>
		    	Estou satisfeito
		  	</ion-item>
	  	</ion-slide>
	</ion-slides>
=======
<!--
  Generated template for the ShareInvestmentsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>share-investments</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

>>>>>>> 072002e6f17c41354cf46cb8a7f713bbe199f072
</ion-content>
