<!--
  Generated template for the ImpactGamePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
<<<<<<< HEAD
    <ion-title>Welcome!</ion-title>
=======
    <ion-title>impact-game</ion-title>
>>>>>>> 072002e6f17c41354cf46cb8a7f713bbe199f072
  </ion-navbar>

</ion-header>

<<<<<<< HEAD
<ion-content padding>
	<ion-slides pager>

	  <ion-slide style="background-color: white">
	    <h2>Seja bem-vindo ao</h2>
	    <h1>Simpact!</h1>
	    <h5>Esse é um jogo com o intuito de ensinar como funciona as aplicações financeiras. Meu nome é Gustavo e eu te guiarei!</h5>
	  </ion-slide>

	  <ion-slide style="background-color: white">
	    <h5>Você terá um investimento inicial de 10.000,00 Simpacts para aplicar. Esse é a unidade monetária do nosso universo.</h5>
	  </ion-slide>

	  <ion-slide style="background-color: white">
	    <h5>Ao longo do tempo você terá a opção de aplicar seus Simpacts ou retê-los, visando guardar para um momento mais oportuno.</h5>
	  </ion-slide>

	  <ion-slide style="background-color: white">
	    <h5>Quando é esse momento? Observe as variações do mercado e taxa de juros, isso é vital para seu investimento. Tenha sangue frio, responsabilidade e paciência, essa é a chave para um futuro financeiro ideal!</h5>
	  </ion-slide>

	  <ion-slide style="background-color: white">
	    <h5>Quando finalizar suas escolhas e escolher prosseguir, se passará um mês completo e você poderá ver o resultado dos seus investimentos. Observe as notícias e aja!</h5>
	  </ion-slide>

	  <ion-slide style="background-color: white">
	    <h5>No final do 15º mês você terá o resultado total de sua partida. Fique a vontade para tentar novamente!</h5>
	    <div padding>
        	<button ion-button color="primary" block (click)="openMainGame()">Prosseguir</button>
   		</div>
	  </ion-slide>

	</ion-slides>
=======

<ion-content padding>
>>>>>>> 072002e6f17c41354cf46cb8a7f713bbe199f072

</ion-content>
