<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<<<<<<< HEAD
  <h1>Bem vindo ao Simpact!</h1>
  <h5>Faça o login para começar o seu jogo. Caso não possua uma conta, fique a vontade para criar uma, é gratis!</h5>

  <div padding>
    <button ion-button color="primary" block (click)="openLogin()">Login</button>
  </div>

  <div padding>
    <button ion-button color="primary" block (click)="openNewUser()">Não tenho cadastro</button>
  </div>

  <!--  <div padding>
=======
  The world is your oyster.
  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will be your guide.
  </p>

  <div padding>
        <button ion-button color="primary" block (click)="openLogin()">Login</button>
   </div>

   <div padding>
>>>>>>> 072002e6f17c41354cf46cb8a7f713bbe199f072
        <button ion-button color="primary" block (click)="openAccountSet()">Account Settings</button>
   </div>

   <div padding>
        <button ion-button color="primary" block (click)="openImpactGame()">Impact Game</button>
   </div>

  <div padding>
        <button ion-button color="primary" block (click)="openInvestAnswer()">Invest Answer</button>
   </div>

   <div padding>
        <button ion-button color="primary" block (click)="openInvestProfile()">Invest Profile</button>
   </div>

   <div padding>
        <button ion-button color="primary" block (click)="openInvestQuestions()">Invest Questions</button>
   </div>

   <div padding>
        <button ion-button color="primary" block (click)="openMainGame()">Main Game</button>
   </div>

   <div padding>
        <button ion-button color="primary" block (click)="openMethodSelect()">Method Select</button>
   </div>

   <div padding>
        <button ion-button color="primary" block (click)="openShareInvestments()">Share Investments</button>
   </div>

   <div padding>
        <button ion-button color="primary" block (click)="openWithdrawMoney()">Withdraw Money</button>
<<<<<<< HEAD
   </div> -->
=======
   </div>
>>>>>>> 072002e6f17c41354cf46cb8a7f713bbe199f072
</ion-content>
