<<<<<<< HEAD
<ion-content class="camera-get">
    <div id="ionball"></div>
 
    <ion-fab right bottom small>
        <button ion-fab color="light" (click)="loadNextMonth()"><ion-icon name="arrow-dropright-circle"></ion-icon></button>
    </ion-fab>
 
    <ion-fab left bottom small>
        <button ion-fab color="light" (click)="openShareInvestments()"><ion-icon name="cart"></ion-icon></button>
    </ion-fab>
 
    <ion-fab center bottom small>
        <button ion-fab color="green" (click)="openWithdrawMoney()" ><ion-icon name="cash"></ion-icon></button>
    </ion-fab>
</ion-content>

<ion-content padding>
	<!-- chales franca videos -->
	<ion-card *ngFor="let noticia of noticias">
		<img width="200" height="200" src="//image.shutterstock.com/z/stock-photo-low-angle-view-of-skyscrapers-in-shenzhen-china-526689706.jpg"/>
		<ion-card-content>	
			<p>
				{{ noticia.descricao }}
			</p>
		</ion-card-content>
	</ion-card>
=======
<!--
  Generated template for the InvestQuestionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>invest-questions</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

>>>>>>> 072002e6f17c41354cf46cb8a7f713bbe199f072
</ion-content>
