page-first-month {

	.col{
		border-style: solid;
		border-color: black;
	}

	#linhas1{
		color: black;
	}

	#codigo1{	
		width: 60px;
		height: 18px;
		color: blue;
		text-align: center;
	}

	.background{
		background-color: rgb(180, 255, 123);
	}

	.box-top-left {
		border-radius: 15px 0px 0px 0px;
	}

	.box-top-right {
		border-radius: 0px 15px 0px 0px;
	}

	.darkgreen {
		background-color: rgba(155, 255, 123, 1);
	}

	.green {
		background-color: rgba(187, 225, 123, 1);
	}

	#nome1{
		width: 165px;
		color: green;
	}

	#pontos1{
		width: 45px;
		text-align: center;
		color: red;
	}

}
