<!--
  Generated template for the NextMonthPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
</ion-header>


<ion-content class="background" padding>

<ion-grid>
  <ion-row>
    <ion-col class="box-top-left darkgreen">
      <div id="codigo1">
        Codigo
      </div>
    </ion-col>
    <ion-col class="darkgreen">
      <div id="nome1">
        Nome
      </div>
    </ion-col>
    <ion-col class="box-top-right darkgreen">
      <div id="pontos1">
        Preço
      </div>
    </ion-col>
  </ion-row>
  <ion-row class="green" id="linhas1" *ngFor="let acao of acoes">
    <ion-col>
      <div (click)="showInfo(acao.codigo)" id="codigo1">
        {{ acao.codigo }}
      </div>
    </ion-col>
    <ion-col>
      <div id="nome1">
        {{ acao.nome }}
      </div>
    </ion-col>
    <ion-col>
      <div id="pontos1">
        R$ {{ acao.pontos }}
      </div>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>