<<<<<<< HEAD
<ion-header>
	
</ion-header>

<ion-content>
 
    <div id="ionball"></div>
 
    <ion-fab left bottom small>
        <button ion-fab color="light" (click)="beginGame()"><ion-icon name="arrow-dropleft-circle"></ion-icon></button>
    </ion-fab>
 
</ion-content>
=======
<!--
  Generated template for the WithdrawMoneyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>withdraw-money</ion-title>
  </ion-navbar>

</ion-header>
>>>>>>> 072002e6f17c41354cf46cb8a7f713bbe199f072


<ion-content padding>

</ion-content>
