<!--
  Generated template for the NewUserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Create Account</ion-title>
  </ion-navbar>

</ion-header>
<ion-content>

	<ion-list inset>

		<ion-item>
		    <ion-label>Nome</ion-label>
		    <ion-input [(ngModel)]="nome" type="text"></ion-input>
		</ion-item>

		<ion-item>
		    <ion-label>Sobrenome</ion-label>
		    <ion-input [(ngModel)]="sobrenome" type="text"></ion-input>
		</ion-item>

		<ion-item>
		    <ion-label>E-mail</ion-label>
		    <ion-input [(ngModel)]="email" type="text"></ion-input>
		</ion-item>

		<ion-item>
		    <ion-label>Telefone</ion-label>
		    <ion-input [(ngModel)]="telefone" type="text"></ion-input>
		</ion-item>

		<ion-item>
		    <ion-label>Nome de Usuário</ion-label>
		    <ion-input [(ngModel)]="username" type="text"></ion-input>
		</ion-item>

		<ion-item>
		    <ion-label>Senha</ion-label>
		    <ion-input [(ngModel)]="pass" type="password"></ion-input>
		</ion-item>

		<ion-item>
		    <ion-label>Repita a senha</ion-label>
		    <ion-input [(ngModel)]="repass" type="password"></ion-input>
		</ion-item>

	</ion-list>

	<div padding>
		<button ion-button color="primary" block (click)="openImpactGame()">Criar conta</button>
	</div>

</ion-content>
