<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
<<<<<<< HEAD
    <ion-title>Login</ion-title>
=======
    <ion-title>login</ion-title>
>>>>>>> 072002e6f17c41354cf46cb8a7f713bbe199f072
  </ion-navbar>

</ion-header>

<ion-content padding>
<<<<<<< HEAD

	<ion-list>

		<ion-item>
		    <ion-label floating>Nome de Usuário</ion-label>
		    <ion-input [(ngModel)]="username" type="text"></ion-input>
		</ion-item>

		<ion-item>
		    <ion-label floating>Password</ion-label>
		    <ion-input [(ngModel)]="pass" type="password"></ion-input>
		</ion-item>

		<div padding>
        	<button ion-button color="primary" block (click)="login()">Prosseguir</button>
   		</div>

   		<div padding>
        	<button ion-button color="primary" block (click)="openNewUser()">Nova Conta</button>
   		</div>

	</ion-list>

=======
	aejngnaponaonegio
>>>>>>> 072002e6f17c41354cf46cb8a7f713bbe199f072
</ion-content>
