<<<<<<< HEAD
<ion-header>
	<ion-toolbar>
		<ion-item>
		  	<ion-avatar (click)="openMenu()" item-start>
		      	<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Circle-icons-profile.svg/512px-Circle-icons-profile.svg.png">	
		  	</ion-avatar>
		  	<ion-buttons end>
				<ion-icon name="logo-bitcoin">  {{ dinheiro }}</ion-icon>
			</ion-buttons>
		</ion-item>
	</ion-toolbar>
</ion-header>

<ion-menu [content]="content">
  	<ion-header>
	    <ion-item>
		  	<ion-avatar (click)="openMenu()" item-start>
		      	<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Circle-icons-profile.svg/512px-Circle-icons-profile.svg.png">	
		  	</ion-avatar>
		  	<h2>{{nome}} {{sobrenome}}</h2>
		</ion-item>
  	</ion-header>
  	<ion-content>
	    <ion-list>
	    	<ion-item (click)="openInvestQuestions()">
		    	<ion-icon name="albums" item-start></ion-icon>
		      	Notícias 
		  	</ion-item>
	    	<ion-item (click)="openMethodSelect()">
			    <ion-icon name="analytics" item-start></ion-icon>
			    Carteira de Ações
		  	</ion-item>
	      	<ion-item (click)="openShareInvestments()">
		    	<ion-icon name="cart" item-start></ion-icon>
		      	Realizar novos investimentos
		  	</ion-item>
		  	<ion-item (click)="openWithdrawMoney()">
		    	<ion-icon name="cash" item-start></ion-icon>
		      	Sacar dinheiro
		  	</ion-item>
		  	<ion-item (click)="openShareInvestments()">
		    	<ion-icon name="settings" item-start></ion-icon>
		      	Configuração
		  	</ion-item>
		  	<ion-item (click)="openShareInvestments()">
		    	<ion-icon name="chatbubbles" item-start></ion-icon>
		      	Fale Conosco
		  	</ion-item>
		  	<ion-item (click)="logout()">
		    	<ion-icon name="log-out" item-start></ion-icon>
		      	Sair
		  	</ion-item>
	    </ion-list>
  	</ion-content>
</ion-menu>

<ion-nav id="nav" #content [root]="rootPage"></ion-nav>
=======
<ion-nav [root]="rootPage"></ion-nav>
>>>>>>> 072002e6f17c41354cf46cb8a7f713bbe199f072
