page-method-select {

<<<<<<< HEAD
	ion-card {
    position: relative;
    text-align: center;
    margin-bottom: 30px;
    height: 294px;
  }

  .card-title {
    position: relative;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: black;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: relative;
    top: 52%;
    width: 100%;
    color: black;
  }

  ion-slide{
    background-color: white;
    overflow-y: auto !important;
    padding: 20px;
  }

  .column {
    float: left;
    margin-bottom: 15px;
  }

  .left {
    width: 50%;
  }

  .right {
    width: 50%;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
=======
>>>>>>> 072002e6f17c41354cf46cb8a7f713bbe199f072
}
