<!--
  Generated template for the MethodSelectPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
<<<<<<< HEAD
=======

  <ion-navbar>
    <ion-title>method-select</ion-title>
  </ion-navbar>

>>>>>>> 072002e6f17c41354cf46cb8a7f713bbe199f072
</ion-header>


<ion-content padding>
<<<<<<< HEAD
	<ion-slides>
	  	<ion-slide>
			<ion-card-header>
				Lista de ações para aplicações
			</ion-card-header>

			<ion-card *ngFor="let acao of acoes" (click)="thisChoice(acao)">
				<ion-card-header>
				    <div class="card-title">{{acao.codigo}}</div>
				    <div class="card-subtitle">{{acao.nome}}</div>
				</ion-card-header>

				<div class="row">
					<div class="column left">Pontos:</div>
					<div class="column right">{{acao.pontos}}</div>
					<div class="column left">Cidade:</div>
					<div class="column right">{{acao.cidade}}</div>
					<div class="column left">Posse de Cotas</div>
					<div class="column right">{{1000 - acao.cotas}}</div>
					<div class="column left">Modelo</div>
					<div class="column right">{{acao.tipo}}</div>
					<div class="column left">Ramo</div>
					<div class="column right">{{acao.ramo}}</div>
				</div>
				<button (click)="thisChoice(acao)" ion-button class="btn">
			     	<ion-icon></ion-icon> Vender
			    </button>
			</ion-card>
		</ion-slide>
		<ion-slide>
		    <ion-list>
		    	<h1> Quantas cotas de {{ codigo }} você deseja vender? </h1>
		    	Custo de uma cota: {{ pontos }}
			  	<ion-item>
			   		<ion-range min="0" [(max)]="1000 - cotas" [(ngModel)]="singleValue" color="danger" pin="true"></ion-range>
			  	</ion-item>
			  	<p>Custo de Venda: $ {{ pontos * singleValue }}</p>
			  	<button *ngIf="singleValue != 0" ion-button class="btn" (click)="sellStock(singleValue)">Investir</button>
			</ion-list>
	  	</ion-slide>
	  	<ion-slide>
		    <ion-card-header>
				<h3>Transação concluída!</h3>
			</ion-card-header>
			<p>O dinheiro estará na sua conta em breve!</p>
	  	</ion-slide>
	</ion-slides>
=======

>>>>>>> 072002e6f17c41354cf46cb8a7f713bbe199f072
</ion-content>
